* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

.feedback {
    display: none;
}

.mainDiv {
    margin: 0.4rem;
    justify-content: center;
    display: flex;
}
.div1 {
    margin: 0.4rem;
    display: flex;
    width: 20%;

}
.subDiv {
    margin: 0.4rem;
    display: flex;
    height:1rem;
    width:30%
    
}
.div2 {
    margin: 0.4rem;
    display: flex;
    width: 10%;
}

.div3 {
    
    background-color:#ECAB3C;
    height: 2rem;
}

.worldDiv {
    margin: 0.4rem,0.4rem,0,0.4rem;
    justify-content: center;
    display: flex;
}
.worldDiv1 {
    margin: 0.4rem;
    display: flex;
    width: 20%;
}
.world {
    margin: 0.4rem;
    display: flex;
    width: 25rem;
    height:2rem;
    background-color:#ECAB3C;
    width: 30%
    
}
.worldDiv2 {
    margin: 0.4rem;
    display: flex;
    width: 10%;
}
.graph-wrapper{
    display: flex;
    flex-direction: column;
    

}
.heading {
    color: #ECAB3C;
}
.population-home,.name-home,.capital-home {
    background-color:  #ECAB3C;
    text-align: center;
    width: 7rem;
    height:2rem;
    border-radius: 1rem;
    border-style: solid;
        
}

.population-home:focus,.name-home:focus,.capital-home:focus{
    border: none;
    outline: 0;
}
.population,.languages {
    background-color:  #ECAB3C;
}
.population:focus,.languages:focus{
    border: none;
    outline: 0;
}

.fa-chart-bar{

    color: #ECAB3C;
    
}
.search-message {
    display: none;
}

.country-search{
    margin-bottom: 1rem;
    width: 18rem;
    height: 1.5rem;
    border-radius: 20px;
    border: 1px solid black;

}
.country-search:focus {
    outline: none;
}
.error-message {
    display: none;
}

.coutries-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    background-color: #eeeff0;
    padding: 3rem 2rem;

}

.countryDiv {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    line-height: 1.5;
    width: 15rem;
    height: 16rem;

}

.flag-image{
    width: 8rem;
    height: 5rem;
    box-shadow: 1px 1px 1px;
   
}

.country-name {
    margin-top: 1rem;
}

.statistics-container {
    display: none;
}

