
.main-div {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 35rem;
    margin: 10rem;
    white-space: pre;
    flex-wrap: wrap;
    
    
}
.div1,.div2,.div3 {
    display: flex;
    margin-top: 1rem;
    transition: transform 2s ease;
    
}